#ImgTop
{
    width: 100vw;
    max-height: 35vh;
}


.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:hover
{
    color: white;
    background-color: green;
    border-color: green;
}

h1
{
    font-size: 2.5em;
}

p
{
    text-align: justify !important;
    font-size: 1em;
}